<hr />

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Begin MailChimp Signup Form -->
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>


<form style="max-width: 600px; margin: 50px auto; padding: 50px 100px; border: 2px dashed rgb(112, 112, 112);" action="https://oddscript.us17.list-manage.com/subscribe/post?u=22ea3f46039dc271dac8ab52a&amp;id=1faf9a3b0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" role="form" novalidate>
    <h4 style="text-align: center; padding-bottom: 16px;">Sign up for the newsletter</h4>
    <div class="input-group">
        <input class="form-control" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
        </span>
    </div>
</form>

<!--End mc_embed_signup-->
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <% if (theme.twitter_url) { %>
                        <li>
                            <a href="<%- theme.twitter_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.facebook_url) { %>
                        <li>
                            <a href="<%- theme.facebook_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.github_url) { %>
                        <li>
                            <a href="<%- theme.github_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.linkedin_url) { %>
                        <li>
                            <a href="<%- theme.linkedin_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.mailto) { %>
                        <li>
                            <a href="mailto:<%- theme.mailto%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.gitlab_url) { %>
                        <li>
                            <a href="<%- theme.gitlab_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <p class="copyright text-muted">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br></p>
        </div>
        </div>
    </div>
</footer>
